# Base de données
DB_HOST=localhost
DB_NAME=explorateur
DB_USER=root
DB_PASS=

# Mailtrap Sandbox SMTP (copier les identifiants de votre boîte Mailtrap)
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@example.test
MAIL_FROM_NAME="EMM'S Files"
